#game {
    display: flex;
    justify-content: center;
}

td {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    }

.x {
    background: url(x.png) no-repeat center;
    background-size: 50%;
}

.o {
    background: url(o.png) no-repeat center;
    background-size: 50%;
}

.alert {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgba(20,0,20,.9)
    